.main-img.is-visible, .variants-head.is-visible{
	position:relative;
	animation: slide-in-left 3s ease-in-out both;
}
.main-head.is-visible{
	animation: zoom-in-zoom-out 2s ease-out ;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}
.alter-about.is-visible{
	animation:slide-down 5s ease-out ;
	animation-iteration-count:1;
}
.variants-head.is-visible , .variants.is-visible{
	animation: appear 2s ease-in;
}
.grid-item.is-visible{
	animation: fadein 2s ease-in-out both;
}
.features.is-visible{
	animation: slide-down 2s ease-out ;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}
.alter-para.is-visible{
	animation: fadein 3s ease-in-out both;
	animation-delay: 0.5s;
}
.col-sm-4.is-visible{
	animation: appear 2s ease-in-out both;
	animation-delay:0.5s;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes slide-in-left {
    0% {
    left:-200px;
    opacity: 0;
  }
  100% {
	left:0;
    opacity: 1;
  }

}
@keyframes slide-down{
	0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:0.7;
	}
}
@keyframes appear{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}