body {
  margin: 0;
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
  color: #f3f4ed;
}

.menu, .main-section, .about ,section{
    padding: 3% 7%;
}

.logo {
  width: 8%;
  height: auto;
}

.nav {
  float: right;
  margin-right: 5%;
}

.nav-link {
  font-size: 1.15rem;
  font-weight: lighter;
  color: #f3f4ed;
}

.nav-link:hover {
  color: grey;
}

.main-img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main-head {
  margin-top: 45%;
  font-size: 2rem;
}

.alter-about {
  padding: 1rem 3rem;
}

.alter-para {
  padding: 1rem 2rem 1rem 3rem;
  font-weight: lighter;
  font-size: 0.90rem;
  opacity: 0.6;
  text-align: justify;
}
.variants-head{
	padding: 1% 5% 0 5%;
	
}
.variants {
  padding: 5% 10%;
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  overflow: hidden;
}
.swiper-container{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.swiper-slide{
  background-position: center;
  background-size: cover;
  background-color:#E3E4E4;
  line-height:30px;
  color:  #212121;
  width: 270px;
  filter: blur(4px);
  border-radius:20px;
}
.swiper-slide-active{
  filter: blur(0px);
  box-shadow:0 15px 50px rgba(0,0,0,0.2);  
}
.info{
	position: relative;
	padding:5%;
	text-align:center;
}
.swiper-slide .phead{
	font-weight:bold;
	padding:5px;
	color: #212121;
}
.swiper-slide .details{
	padding:10px 0 8px 07;
	font-weight:700;
	color: #2d2d2d;
}
.swiper-slide .pimg{
	margin-top:20px;
	position:relative;
	background-color:inherit;
	width:150px;
	height:150px;
	margin-right:auto;
	margin-left:auto;
}
.swiper-slide .pimg img{
	position:relative;
	width:100%;
	height:100%;
	border-radius:5px;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
	background-image: none;
}

 .features{
  padding:2px 30px;
  margin-top: 1rem;
  text-align: center;
  background-color:#b6b6b6;
}
 .features .fhead{
	padding: 3% 5%;
	color:#212121;
 }
 
.grid-container {
  padding: 1% 6%;
  display: grid;
  color: #2d2d2d;
  font-weight:700;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 2rem 0.55rem;
  font-size: 1.05rem;
  font-style: oblique;
}
.grid-item img{
  margin:10px;
  width:8%;
}
.footer{
	padding:2% 5%;
	text-align:center;
	color:#aeb0af;	
}
.footer a{
	margin-top:50px;
	color:#f3f4ed;
	text-decoration:none;
}
.flogo{
	margin:8%;
	width:60px;
}
.contact{
	color: #f3f4ed;
	line-height:30px;
	padding: 2%;
	font-size:0.90rem;
}
.footer h6{
	padding-bottom:5%;
}
.contact img{
	width:15px;
	margin:1px 5px;
}
.contact p{
	margin-top:30px;
}
.follow{
	color: #f3f4ed;
	margin-top:70px ;	
}
.follow img{
	margin:10px;
	width:25px;
}
.copyright{
	font-size:0.8rem;
	margin-top:40px;
}

/*    --------  For medium mobiles and down----------  */
@media (max-width:571px) {
  .menu, .main-section, .about , .variants{
      padding: 5% 2%;
  }

  .logo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    float: none;
    margin: 10px 0 0 0;
    justify-content: center;
  }

  .nav-link {
    font-size: 0.75rem;
    font-weight: lighter;
    color: #f3f4ed;
    padding: 10px;
  }

  .main-img {
    margin-top: 5%;
    width: 70%;
    float: left;
  }

  .main-head {
    margin-top: 5%;
    padding-left: 15%;
    font-size: 1rem;
    text-align: right;
  }

  .alter-head {
    font-size: 1.55rem;
  }

  .alter-mhead {
    font-size: 1.05rem;
  }

  .alter-about {
    padding: 1rem;
  }

  .alter-para {
    padding: 0 1rem;
    font-size: 0.65rem;
  }
   .variants {
	min-height:30vh;
}
  .swiper-slide{
  line-height:25px;
  width: 200px;
}
.swiper-slide .phead{
	font-weight:800;
	padding:5px;

}
.swiper-slide .details{
	padding:8px 0;
	font-size:0.8rem;
}
.swiper-slide .pimg{
	margin-top:10px;
	position:relative;
	width:120px;
	height:120px;
  }
 .features{
  padding:5px 10px;
  
}
.grid-container {
  padding: 1%;
  font-weight:700;
  grid-template-columns: auto auto;
  }
.grid-item {
    padding: 0.8rem 0.40rem;
    font-size:0.8rem;
  }
 
.grid-item img{
  margin:10px;
  width:20px;
}
.contact , .follow p{
	padding: 10% 2% 1%;
	font-size:0.85rem;
}
.follow{
	margin-top:30px ;	
}
.flogo{
	width:50px;
}

}

/*   ----------- For Landscapes and in between screens   --------------*/
@media (min-width:570px) and (max-width:1000px) {
  .logo {
    width: 10%;
  }

  .nav-link {
    font-size: 0.80rem;
  }

  .main-img {
    padding-top: 5%;
    width: 80%;
    float: left;
  }

  .main-head {
    margin-top: 40%;
    font-size: 1.25rem;
  }

  .alter-head {
    font-size: 1.75rem;
  }

  .alter-about {
    padding: 1rem 3rem;
  }

  .alter-para {
    font-size: 0.75rem;
  }
  .variants {
  min-height: 50vh;
}
  .swiper-slide{
  line-height:25px;
  width: 250px;
}
.swiper-slide .phead{
	font-weight:900;
	padding:5px;

}
.swiper-slide .details{
	padding:8px 0;
	font-size:0.9rem;
}

.grid-item {
  padding: 2rem 0.55rem;
  font-size: 0.8rem;
  font-style: oblique;
}
.grid-item img{
  width:25px;
}
.footer{
	padding:2%;	
}
.contact ,.follow p{
	font-size:0.8rem;
}
.follow img{
	margin:8px;
	width:20px;
}

/*    --------  For tablets and up ----------  */
@media (min-width:1001px) {
  .nav-link {
    font-size: 1.25rem;
    font-weight: lighter;
    color: #f3f4ed;
  }

  .main-img {
    width: 90%;
    float: none;
  }

  .main-head {
    margin-top: 45%;
    font-size: 1.55rem;
  }
}
